RewriteEngine On
RewriteBase /

# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite clean URLs to .html files
RewriteRule ^about$ about.html [L]
RewriteRule ^innovation$ innovation.html [L]
RewriteRule ^contact$ contact.html [L]
